<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://logging.apache.org/xml/ns"
	xsi:schemaLocation="https://logging.apache.org/xml/ns https://logging.apache.org/xml/ns/log4j-config-2.xsd">

	<!-- Variables de Entorno-->
	<Properties>
		<Property name="filepath" value="C:\Users\santiago.ortiz-alarc\Documents\Proyectos Github\ClinicaOdontologica\logs" />
		<Property name="filename" value="main" />
		<Property name="maxFileSize" value="10B" />
	</Properties>

	<!-- Appenders: Responsables de escribir logs en un objetivo particular
	(consola, archivo, etc.)-->
	<Appenders>
		<!-- Layouts: Le dicen al Appender cómo se estructura el evento de log
		(JSON, XML, Consola, etc.)-->

		<!-- Se escriben logs en archivo .log-->
		<RollingFile name="main-file"
			fileName="${filepath}/${filename}-${date:yyyyMMdd_HHmm}.log"
			filePattern="${filepath}/${filename}-%d{HH:mm:ss:SSS}.log">

			<PatternLayout
				pattern="%d{HH:mm:ss:SSS} [%t] %-5level %logger{36} - %msg%n" />

			<!--Se resetea el archivo de log cuando supere el tamaño estipulado-->
			<SizeBasedTriggeringPolicy size="${maxFileSize}" />
		</RollingFile>

		<!--<File name="main-file" fileName="${filepath}/${filename}.log">
			<PatternLayout pattern="%d{HH-mm-ss-SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</File>-->

		<!-- Se imprimen logs en la consola, con el layout Console-->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

	</Appenders>

	<!-- Loggers: Definen el alcance y nivel de mensajes de logs (INFO, WARN,
	ERROR, DEBUG, ect.)-->
	<Loggers>

		<Logger name="log1" level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="main-file" />
		</Logger>

		<!-- Se define el Logger Root con un nivel de Info-->
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="main-file" />
		</Root>

	</Loggers>

</Configuration>